<footer class="flex flex-col footer overflow-hidden rounded-2xl">
    <div class="bg-white w-20 m-6 flex items-center justify-center rounded-lg pl-2">
        <button class="flex scroll" (click)="scrollTop()">
            UP
            <mat-icon class="items-center justify-center relative"><span class="material-symbols-outlined text-black">
                    keyboard_double_arrow_up
                </span></mat-icon>
        </button>
    </div>
    <div class="flex flex-row justify-around m-4">
        <div class="flex flex-col">
            <p class="font-bold">test</p>
            <div>
                <ul>
                    <li>test1</li>
                    <li>test2</li>
                    <li>test3</li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col">
            <p class="font-bold">test</p>
            <div>
                <ul>
                    <li>test1</li>
                    <li>test2</li>
                    <li>test3</li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col">
            <p class="font-bold">test</p>
            <div>
                <ul>
                    <li>test1</li>
                    <li>test2</li>
                    <li>test3</li>
                </ul>
            </div>
        </div>

    </div>

</footer>