@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
	overflow: hidden;
}

h1 {
	font-size: 26px;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	background: #1616c9;
	background: linear-gradient(90deg, rgba(22, 22, 201, 1) 14%, rgba(0, 212, 255, 1) 100%);
	border: none;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-top: 2px;
	width: 300px;
}



form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 63px 50px;
	height: 100%;
	text-align: center;
	gap: 8px;
}

.text-error{
	display: none;
	color: #b2001a;
	font-size: 10px;
	position: relative;
	top: -8px;
	right: 90px;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 300px;
	border-radius: 10px;
}

input:focus {
	outline: none;
	border: 2px solid #007BFF;
}

.input-label {
	position: relative;
	display: inline-block;
}

.input-span {
	color: rgb(168, 168, 168);
	position: absolute;
	top: 19px;
	left: 15px;
	font-size: 14px;
}

/* .input-label input:not(:placeholder-shown)+span,
.input-label:focus-within>span {
} */
/* input-label input:focus+.input-span */
.active {
	color: black;
	transform: translateY(-200%);
	left: 10px;
	transition: 0.2s ease;
	font-size: 12px;
}

.active {
	color: black;
	transform: translateY(-200%);
	left: 10px;
	transition: 0.2s ease;
	font-size: 12px;
}

.container {
	padding-top: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	min-height: 400px;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.social-container a:hover{
	/* border: 1px solid #1616c9; */
	outline: none;
	border: none;
	background-color: #1616c9;
	color: white;
}
.welcome-text{
	position: relative;
	top: -15px;
}
footer {
	background-color: #222;
	color: #fff;
	font-size: 14px;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 999;
}

footer p {
	margin: 10px 0;
}

footer i {
	color: red;
}