<div
  class="absolute top-6 bg-black text-white rounded-lg p-3 right-2/5 error-box"
  [ngClass]="{
    show: show
  }"
>
  <p>The entered code is incorrect !</p>
</div>
<div class="flex flex-col w-full container p-4">
  <div class="mt-8 mb-4 flex flex-col justify-between gap-5">
    <p class="flex justify-center mb-6 font-bold text-3xl">Sign in/up</p>
    <p class="flex justify-center py-5 text-xl relative">Verification Code</p>
  </div>
  <div class="relative">
    <form
      action=""
      [formGroup]="verifyForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col min-h-[400px]"
    >
      <label class="input-label flex flex-col relative gap-10">
        <div class="px-2 text-gray-400">
          <p class="text-center text-sm felx flex-nowrap">
            {{ text }}
          </p>
        </div>
        <div class="relative w-full flex justify-between px-2">
          <input
            type="text"
            class="border-solid border-2 border-gray-500 h-12 w-12 p-2 text-center rounded-lg"
            maxlength="1"
            formControlName="verifyNum1"
            #in0
            (input)="onInput($event, 0)"
            (keydown)="onKeyPress($event, 0)"
            (keypress)="onlyNumber($event)"
          />
          <input
            type="text"
            class="border-solid border-2 border-gray-500 h-12 w-12 p-2 text-center rounded-lg"
            maxlength="1"
            formControlName="verifyNum2"
            #in1
            (input)="onInput($event, 1)"
            (keydown)="onKeyPress($event, 1)"
            (keypress)="onlyNumber($event)"
          />
          <input
            type="text"
            class="border-solid border-2 border-gray-500 h-12 w-12 p-2 text-center rounded-lg"
            maxlength="1"
            formControlName="verifyNum3"
            #in2
            (input)="onInput($event, 2)"
            (keydown)="onKeyPress($event, 2)"
            (keypress)="onlyNumber($event)"
          />
          <input
            type="text"
            class="border-solid border-2 border-gray-500 h-12 w-12 p-2 text-center rounded-lg"
            maxlength="1"
            formControlName="verifyNum4"
            #in3
            (input)="onInput($event, 3)"
            (keydown)="onKeyPress($event, 3)"
            (keypress)="onlyNumber($event)"
          />
          <input
            type="text"
            class="border-solid border-2 border-gray-500 h-12 w-12 p-2 text-center rounded-lg"
            maxlength="1"
            formControlName="verifyNum5"
            #in4
            (input)="onInput($event, 4)"
            (keydown)="onKeyPress($event, 4)"
            (keypress)="onlyNumber($event)"
          />
          <input
            type="text"
            class="border-solid border-2 border-gray-500 h-12 w-12 p-2 text-center rounded-lg"
            maxlength="1"
            formControlName="verifyNum6"
            #in5
            (input)="onInput($event, 5)"
            (keydown)="onKeyPress($event, 5)"
            (keypress)="onlyNumber($event)"
          />
        </div>
      </label>
      <button
        [disabled]="isDisable"
        type="submit"
        class="h-10 rounded-xl text-white text-xl relative bottom-10 confirm-btn cursor-pointer mt-38"
      >
        confirm
      </button>
      <div >
        <span class="text-sm">{{ Labeltimer }}</span>
      </div>
    </form>
    <div
      class="absolute top-1/2 p-1 gap-0.5 use-password"
      [ngClass]="{
        show: use_password
      }"
    >
      <button
        class="cursor-pointer"
        (click)="onclick()"
        (mouseover)="onhover()"
        (mouseout)="onout()"
      >
        <img
          src="password.png"
          alt="password icon"
          width="25px"
          height="25px"
          class="p-1 img-key"
        />
      </button>
      <span id="password">
        <div
          class="opacity-0"
          [ngClass]="{
            active: hover
          }"
        >
          login with password
        </div>
      </span>
    </div>
  </div>
</div>
<div>
  <app-register [isOpen]="isOpen">
  </app-register>
</div>
