<!-- @if (loading) { -->

<div *ngIf="loading"
  class="absolute left-0 top-0 w-full h-full overflow-hidden flex justify-center items-center bg-white">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" class="w-26 h-26">
    <circle fill="#2EFFC5" stroke="#2EFFC5" stroke-width="20" r="15" cx="40" cy="65">
      <animate attributeName="cy" calcMode="spline" dur="1.1" values="65;135;65;" keySplines=".5 0 .5 1;.5 0 .5 1"
        repeatCount="indefinite" begin="-.4"></animate>
    </circle>
    <circle fill="#2EFFC5" stroke="#2EFFC5" stroke-width="20" r="15" cx="100" cy="65">
      <animate attributeName="cy" calcMode="spline" dur="1.1" values="65;135;65;" keySplines=".5 0 .5 1;.5 0 .5 1"
        repeatCount="indefinite" begin="-.2"></animate>
    </circle>
    <circle fill="#2EFFC5" stroke="#2EFFC5" stroke-width="20" r="15" cx="160" cy="65">
      <animate attributeName="cy" calcMode="spline" dur="1.1" values="65;135;65;" keySplines=".5 0 .5 1;.5 0 .5 1"
        repeatCount="indefinite" begin="0"></animate>
    </circle>
  </svg>
</div>

<!-- } @if (!loading) { -->

<div *ngIf="products.length > 0; else noProducts" class="flex flex-col flex-grow min-h-screen">
  <div class="m-2 flex flex-col items-center">
    <div *ngFor="let product of products; index as i"
      class="p-4 rounded-lg flex shadow-[0_0_8px_2px_rgba(0,0,0,0.15)] m-3 justify-between items-center relative w-2/3">
      <div class="flex gap-4 items-center">
        <h3 class="bg-green-400 rounded-full aspect-square p-2 px-3.5">
          {{ i + 1 }}
        </h3>
        <h3 class="">{{ product.name }}</h3>
      </div>
      <div class="flex gap-4">
        <button class="bg-red-400 p-3 rounded-2xl cursor-pointer text-white hover:scale-105 hover:bg-red-600"
          (click)="onDelete(product.phone_id)">
          delete
        </button>
        <button class="bg-blue-400 p-3 rounded-2xl cursor-pointer text-white hover:scale-105 hover:bg-blue-600">
          update
        </button>
      </div>
    </div>
  </div>
  <div class="flex-grow"></div>
  <div class="flex justify-center">
    <button id="test"
      class="mb-5 text-xl cursor-pointer p-4 w-1/2 bg-[linear-gradient(90deg,_rgba(22,22,201,1)_14%,_rgba(0,212,255,1)_100%)] text-white rounded-2xl outline-none">
      Add Product
    </button>
  </div>
</div>

<ng-template #noProducts>
  <div *ngIf="!loading">
    <p>No products available.</p>
    <button id="test"
      class="mb-5 text-xl cursor-pointer p-4 w-1/2 bg-[linear-gradient(90deg,_rgba(22,22,201,1)_14%,_rgba(0,212,255,1)_100%)] text-white rounded-2xl outline-none">
      Add Product
    </button>
  </div>
</ng-template>
<!-- } -->

<div *ngIf="modal_open" class="fixed inset-0 bg-[rgba(0,0,0,0.4)] z-5">
  <div
    class="overflow-hidden absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  bg-white rounded-lg p-6 z-10  min-w-[460px] max-h-[80vh]">
    <div class="flex justify-between items-center">
      <p class="font-bold text-lg">Are you sure you want to delete this product?</p>
      <div class="cursor-pointer" (click)="closeModal()">
        <mat-icon><span class="material-symbols-outlined">
            close
          </span></mat-icon>

      </div>
    </div>
    <hr class="mt-2 text-gray-300" />
    <div class="flex flex-col mt-6">
      <p>This action cannot be undone. The product will be permanently removed from the system.</p>
      <div class="relative flex items-center gap-4 mt-7">
        <button class="bg-white border border-solid border-red-500 text-red-500 rounded-lg p-2 px-4 cursor-pointer"
          (click)="closeModal()">
          <div class="flex justify-center items-center relative grow">
            Cancel
          </div>
        </button>
        <button class="bg-red-500 text-white rounded-lg outline-none p-2 px-4 cursor-pointer">
          <div class="flex justify-center items-center relative grow">
            Delete
          </div>
        </button>
      </div>
    </div>
  </div>
</div>