<form action="" [formGroup]="form">
  <div class="flex gap-10 p-5">
    <div class="flex flex-col p-5 gap-7 relative">
      <div class="bg-gray-300 rounded-lg">
        <app-basic-info></app-basic-info>
      </div>
      <div class="bg-gray-300 rounded-lg">
        <app-advance-info></app-advance-info>
      </div>
    </div>
    <div class="flex flex-col p-5 gap-7">
      <div class="flex flex-col gap-5">
       <app-images></app-images>
      </div>
      <div>
        <app-specifications></app-specifications>
      </div>
    </div>
  </div>
</form>

